@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --mfont: Kumbh Sans;
  --orange: hsl(26, 100%, 55%);
  --porange: hsl(25, 100%, 94%);
  --vdarkblue: hsl(220, 13%, 13%);
  --dgrayblue: hsl(219, 9%, 45%);
  --grayishblue: hsl(220, 14%, 75%);
  --lgrayishblue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --blackforbg: hsl(0, 0%, 0%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--mfont);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2.3em 10em;
  padding: 1em 1em;
  margin-left: 0.5em;
}

.navbar-hamburger {
  position: relative;
  left: 8%;
  top: 3%;
  width: 1.225em;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-hamburger-lines {
  width: 100%;
  height: 0.25em;
  background-color: var(--dgrayblue);
}

.navbar-hamburger-lines::before,
.navbar-hamburger-lines::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--dgrayblue);
}

.navbar-hamburger-lines::before {
  transform: translateY(-7px);
}

.navbar-hamburger-lines::after {
  transform: translateY(7px);
}

.logo {
  position: relative;
  top: 4px;
}
.icons {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 1.5em;
  position: relative;
  top: 25%;
  right: 10%;
}
#cart {
  margin-right: 1em;
  height: 1.2em;
}
#avatar {
  position: relative;
  bottom: 20%;
}
